@mixin text-present-1{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

@mixin text-present-mobile{
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}
@mixin text-present-2{
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}
@mixin text-present-3{
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}
@mixin text-present-4{
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}