header{
    height:44px;
    margin-top:32px;
    @media(max-width:1024px){
        margin-top: 18px;
    }
    @media(max-width:767px){
        margin-top: 17px;
    }
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                color: black;
            }
        }
    }
}